<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sih.dao.UserDao">
    <!-- 여기에 SQL 쿼리들을 작성합니다. -->
    <select id="login" parameterType="com.sih.dao.dto.UserDto" resultType="com.sih.dao.dto.UserDto">
    	SELECT U.USER_ID AS userId
    	     , U.USER_PASSWORD AS userPassword
    	     , U.USER_NAME AS userName
    	     , U.USER_EMAIL AS userEmail
    	FROM USER U
    	WHERE U.USER_ID = #{userId} 
    	  AND U.USER_PASSWORD = #{userPassword}
    	
    </select>
    
    <select id="idcheck" parameterType="com.sih.dao.dto.UserDto" resultType="Integer">
    	SELECT EXISTS(SELECT 1 FROM USER WHERE USER_ID = #{userId}) AS CHECK_YN
    	
    </select>
    
    <insert id="signin" parameterType="com.sih.dao.dto.UserDto">
    	INSERT INTO USER
		(USER_ID,
		 USER_PASSWORD,
		 USER_EMAIL,
		 USER_NAME)
		 VALUES
		(#{userId},
		 #{userPassword},
		 #{userEmail},
		 #{userName});
    	
    </insert>
    
</mapper>